#joinFacebookBut {
	text-align: center;
}

#upcomingEventsHeader {
	text-align: justify;
}

.slider {
	width: 700px;
	float: right;
}

.intro {
	float: left;
	width: 400px;
	margin-bottom: 30px !important;
}

.wrapperCustom {
	padding: 3em;
}

.sectionHeader {
	font-weight: bold;
}

.homeEvents {
	width: 400px; 
	float: left;
}	

section {
	margin-bottom: 15px;
}

header {
	margin: 0 0 .5em 0;
}

hr {
	margin-bottom: 7em;
}

#oldPic {
	float: right;
}