#joinFacebookBut {
	text-align: center;
}

#upcomingEventsHeader {
	text-align: justify;
}

.slider {
	width: 700px;
	float: right;
}

.intro {
	float: left;
	width: 400px;
}

.mainHome {
	padding: 3em;
}

.introHeader {
	font-weight: bold;
}